html,
body {
    margin: 0px;
    background: rgba(0, 0, 0, 0);
}

.popup-wrapper {
}

.popup-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    background: #333333;
    color: #ffffff;
    padding: 5px 10px;
    gap: 5px;

    a {
        background-color: #eeeeee;
        color: #333333;
        border: 1px solid #ffffff;
        border-radius: 5px;
        padding: 5px;
    }
    button {
        background-color: #eeeeee;
        color: #333333;
        border: 1px solid #ffffff;
        border-radius: 5px;
        padding: 5px;
    }
}

.container {
    /* width:  */
    min-width: 300px;
    width: auto;
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 2px;

    /* background-color: rgba(255,255,255, 0.5); */
    background-color: #ffffff;
    margin: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.col {
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.grow {
    flex-grow: 1;
}

img {
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid #dddddd;
    background-color: #fefefe;
}

h1,
h2,
h3,
h4,
p {
    margin: 0px;
}
a {
    text-decoration: none;
}

.button {
    padding: 5px 10px;

    margin-top: 10px;
    margin-bottom: 10px;
}

#currentArtist {
    font-weight: bold;
    font-size: 12px;
}

#currentTitle {
    font-weight: bold;
    font-size: 12px;
}

.buttons {
    display: flex;
    flex-direction: row;

    padding: 5px;
    gap: 5px;
    button {
        font-size: 16px;
        padding: 5px 10px;
        height: 40px;
        background-color: #ffffff;
        border: 1px solid #aaaaaa;
        border-radius: 5px;
    }
}
